
.header{
    width: 1600px;
    height: 900px;
    background: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);
    
    
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 1600px;
    height: 900px;
    
   
}
.header{
    display: flex;
    justify-content: center;
   

}
.fig{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: space-evenly;
   
}
h2 {
    align-items: center;
}
footer {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #EDA61D 100%);
    height: 450px;
    width: 1600px;
   
    
    
}
ul {
    list-style: none;
}
.footer1 {
    
    }



