* {
    background-color: white;
}
.card {
    width: 800px;
    height: 650px;
    box-sizing: border-box;
    padding: 20px 30px;
    border-color: rgb(158, 155, 155);
    background-color: rgb(6, 136, 6);
    border-radius: 10%;
    margin-left: 70px;
}
.title {
    color: white;
    font-size: 36px;
    background-color: orangered;
    position: absolute;
    width: 500px;
    height: 50px;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: -70px;
}
form {
    height: 70px;
    background-color: rgb(154, 212, 212);
    margin-top: 30px;
    margin-left: 20px;
    border-bottom: black 3px;
}
.number {
    margin-top: 65px;
}
.other {
    width: 600px;
    height: 110px;
    display: flex;
    border-bottom: 3px black;
    background-color:  rgb(6, 136, 6);
}
.imgmoon {
    width: 180px;
    height: 180px;
    position: relative;
    right: -570px;
    bottom: -70px;
    top: 3px;
    background-color: rgb(6, 136, 6);
    float: left;
}
span {
    background-color: rgb(154, 212, 212);
    font-family: 'Times New Roman', Times, serif;
    font: 20px sans-serif;
}
input {
    background-color: rgb(154, 212, 212);
    border: 0;
    font-family: 'Times New Roman', Times;
    font: 1em sans-serif;
   }

p {
    background-color: rgb(154, 212, 212);
}